In [1]:
import pandas as pd 
import numpy as np

In [13]:
df = pd.read_csv("./data/CONTEST_DATA_IN_SAMPLE_1.csv",header=None)

In [14]:
df.columns = ['time','stkcd','open','high','low','close','volume']

In [19]:
df.groupby('time')['stkcd']

In [18]:
close_df = pd.DataFrame()
for sub_df in df.groupby('time'):
    print(sub_df)

32340   68.27700   66.32340   68.27700    6400
378375  1077   1348  244.72800  245.39460  240.88020  240.88020   11200
378376  1077   1349  136.75200  136.85100  136.11840  136.11840    2400
378377  1077   1350  211.65540  212.40120  207.90000  211.86000    7840

[351 rows x 7 columns])
(1078,         time  stkcd       open       high        low      close  volume
378378  1078   1000   17.61672   18.23844   17.61672   18.23844   31712
378379  1078   1001  240.24000  240.24000  230.01660  230.99340   17312
378380  1078   1002   83.81340   84.82914   83.81340   84.11766   45696
378381  1078   1003   14.46720   14.46720   14.46720   14.46720       0
378382  1078   1004  305.27640  305.27640  298.06920  298.75560  221696
...      ...    ...        ...        ...        ...        ...     ...
378724  1078   1346   44.50380   44.50380   44.50380   44.50380       0
378725  1078   1347   69.23400   69.23400   67.25400   69.22740   14704
378726  1078   1348  240.57660  242.79420  239.11800  239.11800    3680
378727  1078   1349  135.06900  139.93980  135.06900  137.34600   41648
378728  1078   1350  205.93980  210.81720  205.93980  209.55000    1600

[351 rows x 7 columns])
(1079,         time  stkcd       open       high        low      close  volume
378729  1079   1000   18.09126   18.41070   18.09126   18.41070   30176
378730  1079   1001  232.65000  232.65000  224.76960  224.76960   13008
378731  1079   1002   84.11766   84.18234   83.03064   84.05298       0
378732  1079   1003   14.57280   14.57280   14.57280   14.57280       0
378733  1079   1004  298.53780  301.20420  297.00000  300.84780   38848
...      ...    ...        ...        ...        ...        ...     ...
379075  1079   1346   44.92224   45.33342   44.92224   45.33342    1248
379076  1079   1347   68.42220   69.74220   68.42220   69.12180   10800
379077  1079   1348  238.18080  238.46460  238.18080  238.46460   12800
379078  1079   1349  137.92020  139.04880  137.92020  139.04880    1600
379079  1079   1350  209.55000  214.56600  209.55000  212.18340       0

[351 rows x 7 columns])
(1080,         time  stkcd       open       high        low      close  volume
379080  1080   1000   18.27672   18.58296   18.27672   18.58296   37184
379081  1080   1001  224.77620  225.85860  224.33400  224.33400   19632
379082  1080   1002   84.76446   85.16574   84.08532   85.16574  182544
379083  1080   1003   14.46720   14.46720   14.46720   14.46720       0
379084  1080   1004  299.72580  303.69240  297.66660  300.94020  238960
...      ...    ...        ...        ...        ...        ...     ...
379426  1080   1346   45.71886   46.37226   45.71886   46.37226     816
379427  1080   1347   68.26380   68.26380   68.26380   68.26380       0
379428  1080   1348  238.53720  243.01200  238.53720  243.01200   31440
379429  1080   1349  138.73860  142.11120  138.73860  142.11120    5920
379430  1080   1350  211.72140  225.09960  211.72140  223.74000   47952

[351 rows x 7 columns])
(1081,         time  stkcd       open       high        low      close  volume
379431  1081   1000   18.47010   18.60012   18.41928   18.60012   45216
379432  1081   1001  224.87520  233.03940  224.87520  228.09600   13408
379433  1081   1002   85.73532   85.73532   84.41532   84.41532  136768
379434  1081   1003   14.73780   14.73780   14.73780   14.73780       0
379435  1081   1004  298.88100  302.42520  297.66000  300.78840  150304
...      ...    ...        ...        ...        ...        ...     ...
379777  1081   1346   45.90168   45.90168   45.90168   45.90168       0
379778  1081   1347   67.65660   68.64000   67.65660   68.64000    1904
379779  1081   1348  239.25000  239.25000  239.15100  239.15100    4480
379780  1081   1349  142.03860  144.84360  142.03200  144.25620    9600
379781  1081   1350  222.09000  226.98060  222.09000  223.89840   20848

[351 rows x 7 columns])
(1082,         time  stkcd       open       high        low      close  volume
379782  1082   1000   18.54138   18.54138   18.00744   18.00744   18848
379783  1082   1001  225.19200  225.39660  224.51220  225.39660   17600
379784  1082   1002   84.11766   84.44106   83.24382   83.60022   59648
379785  1082   1003   14.79060   14.79060   14.79060   14.79060       0
379786  1082   1004  303.28320  303.28320  297.29700  302.94000  226480
...      ...    ...        ...        ...        ...        ...     ...
380128  1082   1346   45.71886   46.61382   45.71886   46.61382    1104
380129  1082   1347   68.06580   68.06580   68.06580   68.06580       0
380130  1082   1348  238.42500  239.05860  237.66600  237.66600   29680
380131  1082   1349  144.54000  146.28900  143.10780  146.28900   45280
380132  1082   1350  221.29140  227.70000  221.29140  227.56800   26464

[351 rows x 7 columns])
(1083,         time  stkcd       open       high        low      close  volume
380133  1083   1000   17.99886   18.21336   17.90646   17.90646   19312
380134  1083   1001  223.74000  224.40000  220.65120  222.28800   30864
380135  1083   1002   82.97850   84.36978   82.97850   83.85894   17136
380136  1083   1003   14.74440   14.74440   14.74440   14.74440       0
380137  1083   1004  302.27340  302.27340  294.03660  298.88100  303024
...      ...    ...        ...        ...        ...        ...     ...
380479  1083   1346   46.14324   46.14324   46.14324   46.14324       0
380480  1083   1347   67.46520   68.64000   67.46520   68.64000    2384
380481  1083   1348  236.28000  237.84420  236.20740  236.20740   26480
380482  1083   1349  146.65200  147.38460  146.30220  146.52000   22080
380483  1083   1350  224.73000  228.39300  224.73000  226.02360    6880

[351 rows x 7 columns])
(1084,         time  stkcd       open       high        low      close  volume
380484  1084   1000   17.85168   17.96982   17.85168   17.96982     880
380485  1084   1001  223.78620  226.55160  223.78620  224.86860    7200
380486  1084   1002   83.19234   83.94276   83.19234   83.66490   37216
380487  1084   1003   14.50680   14.50680   14.50680   14.50680       0
380488  1084   1004  300.29340  300.29340  294.24780  297.36300  123472
...      ...    ...        ...        ...        ...        ...     ...
380830  1084   1346   45.71886   45.71886   45.64032   45.64032    3232
380831  1084   1347   68.64000   68.64000   68.64000   68.64000       0
380832  1084   1348  236.57040  236.80800  236.57040  236.80800    3200
380833  1084   1349  145.43760  146.86980  144.98220  144.98220   17920
380834  1084   1350  225.75300  228.70320  225.62100  225.62100    8560

[351 rows x 7 columns])
(1085,         time  stkcd       open       high        low      close  volume
380835  1085   1000   17.81802   18.20082   17.81802   18.20082   25120
380836  1085   1001  224.73000  226.27440  224.73000  226.27440    5344
380837  1085   1002   83.47086   84.71298   83.47086   84.69978   36720
380838  1085   1003   14.36820   14.36820   14.36820   14.36820       0
380839  1085   1004  298.21440  299.34960  294.36000  299.34960  141088
...      ...    ...        ...        ...        ...        ...     ...
381181  1085   1346   44.98758   46.60062   44.98758   46.60062    4848
381182  1085   1347   67.91400   69.96000   67.91400   69.96000    4880
381183  1085   1348  234.96000  236.60340  234.96000  235.98960   26576
381184  1085   1349  144.30900  146.86980  144.30900  145.64220   46560
381185  1085   1350  223.94460  227.70000  223.94460  227.70000    8896

[351 rows x 7 columns])
(1086,         time  stkcd       open       high        low      close  volume
381186  1086   1000   18.28464   18.28464   18.25098   18.25098    1760
381187  1086   1001  225.06660  225.19200  225.06000  225.19200    7200
381188  1086   1002   84.03384   85.02384   84.03384   85.02384    2352
381189  1086   1003   14.65860   14.65860   14.65860   14.65860       0
381190  1086   1004  297.46860  299.24400  296.01000  297.46860   57840
...      ...    ...        ...        ...        ...        ...     ...
381532  1086   1346   46.60062   46.60062   46.29372   46.29372    4800
381533  1086   1347   69.34620   69.34620   69.34620   69.34620       0
381534  1086   1348  234.96000  236.99940  233.39580  233.39580   18832
381535  1086   1349  145.64220  146.22960  142.97580  142.97580   80160
381536  1086   1350  224.73000  229.21800  222.98760  222.98760   17184

[351 rows x 7 columns])
(1087,         time  stkcd       open       high        low      close  volume
381537  1087   1000   17.95728   18.03714   17.80152   17.80152   38256
381538  1087   1001  226.07640  226.07640  222.18900  222.18900   35968
381539  1087   1002   85.02384   85.24362   85.02384   85.24362    8160
381540  1087   1003   14.54640   14.94240   14.54640   14.94240   17600
381541  1087   1004  301.18440  301.77840  298.65660  301.14480  144752
...      ...    ...        ...        ...        ...        ...     ...
381883  1087   1346   45.71886   45.71886   45.71886   45.71886       0
381884  1087   1347   67.71600   69.63000   67.71600   69.43200   12384
381885  1087   1348  233.95020  236.92020  233.95020  236.90040   17920
381886  1087   1349  142.23000  142.23000  140.76480  141.18060    8000
381887  1087   1350  221.10000  223.56180  215.16000  215.16000    7792

[351 rows x 7 columns])
(1088,         time  stkcd       open       high        low      close  volume
381888  1088   1000   17.91042   17.91042   17.91042   17.91042       0
381889  1088   1001  224.61780  225.99060  224.07660  225.94440    5840
381890  1088   1002   85.24362   85.24362   83.90382   83.90382       0
381891  1088   1003   14.78400   14.78400   14.78400   14.78400       0
381892  1088   1004  302.75520  303.34260  299.11860  303.34260   88064
...      ...    ...        ...        ...        ...        ...     ...
382234  1088   1346   45.85614   45.85614   45.16380   45.16380    8896
382235  1088   1347   67.73580   69.52440   67.73580   68.97000    6064
382236  1088   1348  235.15800  240.03540  235.15800  240.03540   18000
382237  1088   1349  141.39180  141.39180  140.86380  141.06840   13536
382238  1088   1350  213.84000  213.84000  202.96980  206.83080   71456

[351 rows x 7 columns])
(1089,         time  stkcd       open       high        low      close  volume
382239  1089   1000   17.71704   18.40674   17.71704   18.40674   54016
382240  1089   1001  225.06000  226.80240  223.74000  223.74000    9120
382241  1089   1002   83.90382   84.04638   83.20554   83.25702   10608
382242  1089   1003   15.00840   15.18660   15.00840   15.18660   14400
382243  1089   1004  303.27000  303.27000  297.00000  302.21400  125280
...      ...    ...        ...        ...        ...        ...     ...
382585  1089   1346   45.19614   46.28712   45.19614   46.28712    3232
382586  1089   1347   68.97000   68.97000   68.97000   68.97000       0
382587  1089   1348  237.19740  240.00900  237.19740  237.35580   59632
382588  1089   1349  140.40840  143.68200  140.40840  143.68200    3360
382589  1089   1350  202.25040  202.25040  194.53500  201.95340   31760

[351 rows x 7 columns])
(1090,         time  stkcd       open       high        low      close  volume
382590  1090   1000   18.44436   18.45690   18.14208   18.14208   99968
382591  1090   1001  223.77960  223.77960  222.75000  222.75000    2880
382592  1090   1002   83.25702   83.94936   83.10192   83.94936    1632
382593  1090   1003   15.26580   15.26580   15.26580   15.26580       0
382594  1090   1004  303.59340  303.59340  295.95720  302.22060   79776
...      ...    ...        ...        ...        ...        ...     ...
382936  1090   1346   45.00012   45.00012   45.00012   45.00012       0
382937  1090   1347   67.96680   67.98000   67.16820   67.98000    4800
382938  1090   1348  237.36900  240.81420  237.36900  240.57660  112880
382939  1090   1349  144.03840  145.92600  143.05500  145.67520   38720
382940  1090   1350  197.80200  208.56000  196.68000  198.62040   39248

[351 rows x 7 columns])
(1091,         time  stkcd       open       high        low      close  volume
382941  1091   1000   18.09588   18.09588   17.90250   17.90250   88176
382942  1091   1001  224.73000  225.06000  223.74000  224.36040   10560
382943  1091   1002   83.94936   83.99490   83.35404   83.42532   25920
382944  1091   1003   15.39120   15.82020   15.39120   15.82020    6400
382945  1091   1004  298.92060  301.91700  297.71280  301.91700  196128
...      ...    ...        ...        ...        ...        ...     ...
383287  1091   1346   45.01992   45.01992   45.01992   45.01992       0
383288  1091   1347   68.31000   69.02280   68.31000   68.57400    9792
383289  1091   1348  238.72200  240.95280  238.72200  240.68880   44160
383290  1091   1349  146.30880  150.86280  146.30880  146.83020   47632
383291  1091   1350  198.33000  205.26000  198.33000  205.26000   15520

[351 rows x 7 columns])
(1092,         time  stkcd       open       high        low      close  volume
383292  1092   1000   17.69658   18.14208   17.69658   18.14208   53008
383293  1092   1001  223.60800  223.60800  221.10660  221.14620    9040
383294  1092   1002   83.42532   83.42532   82.65510   82.73958    9664
383295  1092   1003   15.72780   15.72780   15.72780   15.72780       0
383296  1092   1004  302.93340  302.93340  296.99340  297.03300   39296
...      ...    ...        ...        ...        ...        ...     ...
383638  1092   1346   44.94798   44.94798   44.94798   44.94798       0
383639  1092   1347   67.98000   68.71260   67.98000   68.71260     800
383640  1092   1348  238.68240  240.05520  238.68240  239.96940   11760
383641  1092   1349  146.29560  147.01500  144.21660  144.45420   88416
383642  1092   1350  213.18000  220.83600  212.52000  217.73400   69296

[351 rows x 7 columns])
(1093,         time  stkcd       open       high        low      close  volume
383643  1093   1000   17.83518   17.83518   17.44446   17.57052   15728
383644  1093   1001  220.44000  220.44000  198.00000  201.99300   72016
383645  1093   1002   82.12446   82.65510   81.01830   81.01830    4896
383646  1093   1003   15.58920   15.58920   15.56280   15.56280  240000
383647  1093   1004  298.65660  299.54760  295.02660  298.47180   50144
...      ...    ...        ...        ...        ...        ...     ...
383989  1093   1346   45.00672   45.45750   45.00672   45.45750    4800
383990  1093   1347   68.29020   68.29020   68.29020   68.29020       0
383991  1093   1348  238.26000  238.30620  235.85760  237.20400   76048
383992  1093   1349  145.17360  145.20000  140.91000  141.45780    1600
383993  1093   1350  216.69120  217.45680  210.19020  211.86000   12176

[351 rows x 7 columns])
(1094,         time  stkcd       open       high        low      close  volume
383994  1094   1000   17.57052   17.86422   17.26758   17.86422   30128
383995  1094   1001  203.28000  208.52040  200.64000  206.58660   38640
383996  1094   1002   81.01830   81.20574   80.88234   81.07638   62512
383997  1094   1003   15.30540   15.30540   15.30540   15.30540       0
383998  1094   1004  296.47200  315.68460  296.47200  307.89000  467376
...      ...    ...        ...        ...        ...        ...     ...
384340  1094   1346   44.72622   44.72622   44.72622   44.72622       0
384341  1094   1347   67.87440   68.97000   67.87440   68.36940    7200
384342  1094   1348  234.76860  234.76860  234.76860  234.76860       0
384343  1094   1349  140.82420  142.17720  140.82420  141.72180    1280
384344  1094   1350  212.42760  215.76060  209.09460  211.51680       0

[351 rows x 7 columns])
(1095,         time  stkcd       open       high        low      close  volume
384345  1095   1000   17.73420   17.73420   17.52828   17.52828   75360
384346  1095   1001  205.33920  212.23620  205.33920  206.96940   28672
384347  1095   1002   81.07638   81.34170   81.01170   81.34170    2032
384348  1095   1003   15.19980   15.19980   15.19980   15.19980       0
384349  1095   1004  308.97240  311.44740  307.56000  310.31220   63872
...      ...    ...        ...        ...        ...        ...     ...
384691  1095   1346   45.43176   46.17624   45.43176   46.17624   16176
384692  1095   1347   67.74240   69.63000   67.74240   69.63000    3200
384693  1095   1348  237.20400  240.58980  237.20400  240.06840   40816
384694  1095   1349  141.30600  142.16400  141.29940  141.52380   65024
384695  1095   1350  211.72140  215.16000  207.90000  215.16000    4624

[351 rows x 7 columns])
(1096,         time  stkcd       open       high        low      close  volume
384696  1096   1000   17.27616   17.27616   17.08278   17.08278   21904
384697  1096   1001  207.24000  207.24000  196.68000  205.46460   66080
384698  1096   1002   80.88234   82.30596   80.88234   82.30596     816
384699  1096   1003   15.82680   15.84000   15.82680   15.84000  208432
384700  1096   1004  309.61260  312.33180  308.58300  312.33180   35824
...      ...    ...        ...        ...        ...        ...     ...
385042  1096   1346   46.34586   48.66444   46.34586   47.66520    4608
385043  1096   1347   69.30000   69.30000   67.61040   67.61040    3200
385044  1096   1348  237.58020  240.39840  236.44500  238.93980   14720
385045  1096   1349  140.75820  142.53360  140.75820  142.38180   40000
385046  1096   1350  216.01140  220.86900  213.84660  218.55900   25632

[351 rows x 7 columns])
(1097,         time  stkcd       open       high        low      close  volume
385047  1097   1000   17.30982   17.30982   16.83462   16.83462    1408
385048  1097   1001  202.62000  204.17760  198.99660  200.51460   20800
385049  1097   1002   82.30596   82.52574   80.88234   80.88234   50592
385050  1097   1003   15.28560   15.52980   15.28560   15.52980   32000
385051  1097   1004  312.96540  312.96540  306.24000  309.78420  134432
...      ...    ...        ...        ...        ...        ...     ...
385393  1097   1346   45.96042   45.96042   45.96042   45.96042       0
385394  1097   1347   68.24400   68.90400   67.22100   67.22100     640
385395  1097   1348  237.78480  239.85060  237.58680  238.54380   21040
385396  1097   1349  142.56000  142.56000  139.18080  139.18080    3888
385397  1097   1350  218.35440  219.06060  218.35440  218.69760    5536

[351 rows x 7 columns])
(1098,         time  stkcd       open       high        low      close  volume
385398  1098   1000   17.23788   17.76786   16.48152   16.48152  140432
385399  1098   1001  199.05600  203.14800  199.05600  202.05240   13552
385400  1098   1002   80.28042   80.75958   80.08638   80.35830       0
385401  1098   1003   15.57600   15.57600   15.57600   15.57600       0
385402  1098   1004  308.90640  312.87960  308.90640  312.09420  146880
...      ...    ...        ...        ...        ...        ...     ...
385744  1098   1346   46.18878   46.45674   46.18878   46.45674    8880
385745  1098   1347   68.90400   69.30000   68.25720   69.30000   22400
385746  1098   1348  237.87060  240.96600  237.87060  240.96600    4096
385747  1098   1349  139.07520  139.90680  138.07200  139.74180   54400
385748  1098   1350  224.51880  224.51880  216.45360  216.45360   24528

[351 rows x 7 columns])
(1099,         time  stkcd       open       high        low      close  volume
385749  1099   1000   16.46502   16.46502   15.76674   15.76674  529488
385750  1099   1001  202.29000  206.21040  201.28680  201.55080   85344
385751  1099   1002   80.35830   81.79446   80.26128   80.94702   14688
385752  1099   1003   15.66180   15.66180   15.66180   15.66180       0
385753  1099   1004  311.28900  312.83340  309.55320  311.86980   76544
...      ...    ...        ...        ...        ...        ...     ...
386095  1099   1346   46.26732   48.90600   46.26732   48.90600    4544
386096  1099   1347   68.50140   69.43200   68.50140   69.43200    2400
386097  1099   1348  238.55700  241.23660  238.26000  238.49100    6800
386098  1099   1349  139.30620  141.66240  139.30620  141.17400    2288
386099  1099   1350  218.58540  222.04380  218.58540  221.12640    9840

[351 rows x 7 columns])