In [174]:
import logging
import grpc
import pandas as pd
import contest_pb2
import contest_pb2_grpc
import question_pb2
import question_pb2_grpc
import time
import numpy

In [175]:
question_channel=grpc.insecure_channel('47.103.23.116: 56701')
i=0
question_stub=question_pb2_grpc.QuestionStub(question_channel)
question_response=question_stub.get_question(question_pb2.QuestionRequest(user_id=88,sequence=i))

In [176]:
i=0
df=pd.DataFrame(columns=['day','stock_id','open','high','low','close','volume'])
while True:
    time.sleep(0.5)
    question_response=question_stub.get_question(question_pb2.QuestionRequest(user_id=88,sequence=i))
    print(question_response.sequence)
    if question_response.sequence!=-1:
        df=df.append(pd.DataFrame([question_response.dailystk[0].values],columns=['day','stock_id','open','high','low','close','volume']))

        i=question_response.sequence+1
question_channel.close()

122
122
122
122
122
122
123
123
123
123
123
123
123
123
123

KeyboardInterrupt:

In [177]:
question_channel.close()

In [173]:
df

     day  stock_id      open      high       low     close    volume
0  697.0    1000.0  27.53256  28.12062  27.53256  28.12062  157472.0
0  698.0    1000.0  27.70878  27.70878  27.36426  27.40650   35248.0
0  699.0    1000.0  27.33456  27.33456  27.23820  27.27582   36432.0
0  700.0    1000.0  27.20850  27.20850  26.78016  26.96892    3008.0
0  701.0    1000.0  26.93988  27.23820  26.93988  26.95242   38656.0